{% extends "base_template.html" %}
{% load static %}
{% block contenidoCambiante %}

<h1>Acerca De</h1>
<br>
<p>
    Mi nombre es Nicolás Calabró, tengo 31 años y soy de Mendoza, Argentina. Soy Ingeniero Electrónico con +5 años de 
    experiencia en el campo de la automatización industrial. Actualmente me desempeño como PLC & SCADA Engineer en la empresa
    MDNTEC.
</p>
<p> 
    Esta aplicación web es parte del proyecto final del curso "Python" de la plataforma Coderhouse. La misma está desarrollada en 
Python con el framework Django, y simula una aplicación de un banco donde se pueden cargar los clientes, las cuentas y la nomina
del personal. Además, cuenta con un buscador de cuentas a través del número de cuenta asociado, y un CRUD sobre los clientes.
</p>
<p>
    Por otro lado, la aplicación posee un sistema de usuarios para poder interactuar con la base de datos.
</p>    
{% endblock %}