{% extends "base_template.html" %}
{% load static %}

{% block contenidoCambianteTitulo %}
<h1 class="mb-5">Cuentas</h1>
{% endblock %}

{% block contenidoCambiante %}
<h1>Buscar</h1>
<br>
<form action="{% url 'buscar_cuenta' %}" method="get">
    <p>Nro. Cuenta: <input type="number" name="numero_cuenta" placeholder="Ingrese num. cuenta" required></p>    
    <input type="submit" value="Buscar">
</form>
{%if cuenta %}
    <ul>
        {% for cuenta in cuenta %}
            <li>Nro Cuenta: {{ cuenta.numero }} - Titular: {{ cuenta.titular }} - Estado: {{ cuenta.estado }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No hay resultados</p>    
{% endif %}
{% endblock %}