{% extends "base_template.html" %}
{% load static %}

{% block contenidoCambianteTitulo %}
<h1 class="mb-5">Clientes</h1>
{% endblock %}

{% block contenidoCambiante %}
<h1>Ver todos</h1>
<br>    
{% for c in clientes %}
    <li>{{c}}</li>
        <button>
            <a href="{% url 'eliminar_cliente' c.apellido %}">Eliminar</a>
        </button>
        <button>
            <a href="{% url 'editar_cliente' c.apellido %}">Editar</a>
        </button>    
{% endfor %}
<br>
<a href="../clientes">Agregar nuevo cliente</a>    
{% endblock %}